/*
---01 타이포그래피 시스템----
- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

-Line heights
Default:1
Smal1.05
Paragraph default: 1.6

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    
--- 02 colors
- Primary: #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
- Accents: 
- Greys: #555

--- 05 shadows

--- 06 Border-radious
Default: 9px

--- 07 white space
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* percentage of user's bbrower font-size setting */
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  list-style: 1;
  font-weight: 400;
  color: #555;
}
/****************************/
/*보통 구성 요소*/
/****************************/

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* 배경색을 천천히 바꿈 , 0.3이 일반적이다*/
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  margin-right: 1.6rem;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
  color: #fff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */
  /* 안에 테두리를 넣는 트릭 */
  box-shadow: inset 0 0 0 3px #fff;
}

.marign-right-sm {
  /* improtant를 작성하면 이 기능이 우선순위가 된다. */
  margin-right: 1.6rem !important;
}
/****************************/
/*header*/
/****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* 헤더에 고정된 높이를 주고 싶다 그러면 어떻게 해야하나? */
  height: 9.6rem;
  /* 보통은 콘텐츠가 높이를 정의하고 padding을 추가하는데 왜 그렇게 할까? 그 이유는 이 경우 네비게이션을 좀 나중에 끈적거리게 하기 위해서이다. 아래로 스크롤을 내리면 같은 위치에 있게 하는 것이다. */
  padding: 4.8rem;
}

.logo {
  height: 2.2rem;
}

/****************************/
/*네비게이션*/
/****************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  /* display: flex를 하면 리스트들이 세로에서 가로로 변경된다. */
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
/****************************/
/*히어로 섹션*/
/****************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0; /*배경색을 칠할 때는 항상 padding을 사용한다.*/
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
